{% extends "core/base.html" %}
{% block content %}
<h1 class="text-center text-light mt-4">Tools Listing</h1>

<div class="tools-grid animate__animated animate__fadeIn">
    {% for tool in tools %}
    <div class="tool-card">
        {% if tool.image_url %}
        <img src="{{ tool.image_url }}" alt="Tool Image">
        {% endif %}
        <h3>{{ tool.title }}</h3>
        <p>{{ tool.short_description }}</p>
        <a href="{{ tool.link }}" class="btn-read">Continue reading »</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
